@define-color accent #5e81ac;
@define-color fg #e5e9f0;
@define-color bg rgba(46, 52, 64, 0.9);
@define-color bg-alt rgba(55, 55, 35, 0.9);

@define-color nord-bg-0 #2E3440;
@define-color nord-bg-1 #3B4252;
@define-color nord-bg-2 #434C5E;
@define-color nord-bg-3 #4C566A;

@define-color nord-accent-0 #8fbcbb;
@define-color nord-accent-1 #88c0d0;
@define-color nord-accent-2 #81a1c1;
@define-color nord-accent-3 #5e81ac;

@define-color nord-gray #4c566a;
@define-color nord-blue #5e81ac;
@define-color nord-orange #d08770;
@define-color nord-red #bf616a;
@define-color nord-yellow #ebcb8b;
@define-color nord-green #a3be8c;
@define-color nord-purple #b48ead;

* {
    border: none;
	border-radius: 0;
	font-family: "FiraCode Nerd Font";
	min-height: 0;
    transition: none;
}

window#waybar {
	background-color: @bg;
	box-shadow: none;
}

/* Left */

.modules-left {
    background-color: @nord-gray;
    border-radius: 6px;
    margin: 6px 6px;
}

#workspaces button {
	color: @fg;
    background: none;
	font-size: 14px;
    padding: 8px;

	/* Reset the default styles */
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;

    transition:
        box-shadow 150ms cubic-bezier(.17,.67,.83,.67),
        background-color 150ms ease,
        color 150ms ease;
}

#workspaces button:hover {
	color: @fg;
}

#workspaces button.focused {
	color: @nord-accent-1;
}

/* Center */

#clock {
    color: @fg;
	font-size: 14px;
}

/* Right */

.modules-right {
    background-color: @nord-gray;
    border-radius: 6px;
    margin: 6px 6px;
    padding: 4px 8px;
}

#battery,
#temperature,
#pulseaudio,
#bluetooth,
#network {
    color: @fg;
	font-size: 16px;
	padding-right: 2px;
	transition: color 150ms ease;
}

#temperature:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover {
	color: @nord-accent-1;
}

#battery.charging {
    color: @nord-green;
}

#battery.high {
    color: @fg;
}

#battery.medium {
    color: @fg;
}

#battery.low {
    color: @nord-yellow;
}

#battery.critical {
    color: @nord-red;

    animation-name: battery-critical;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes battery-critical {
    to {
        color: @nord-gray;
    }
}

#temperature.critical {
	color: @nord-yellow;	

    animation-name: temperature-critical;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes temperature-critical {
    to {
        color: @nord-red;
    }
}

#network {
	padding-right: 4px;
}

