@define-color fg #e5e9f0;
@define-color bg rgba(46, 52, 64, 0.9);
@define-color bg-alt rgba(55, 55, 35, 0.9);

@define-color nord-gray #4c566a;
@define-color nord-blue #5e81ac;
@define-color nord-orange #d08770;
@define-color nord-red #bf616a;
@define-color nord-yellow #ebcb8b;
@define-color nord-green #a3be8c;
@define-color nord-purple #b48ead;

* {
	color: @fg;
	font-family: "FiraCode Nerd Font";
	font-size: 14px;
    box-shadow: none;
}

window {
	background-color: @bg;
}

#input {
	background: none;
	border: none;
}

#entry:selected {
	background-color: @nord-blue;
} 

#input image {
	color: @nord-blue;
}
