@define-color fg #e5e9f0;
@define-color bg rgba(46, 52, 64, 0.9);
@define-color bg-alt rgba(55, 55, 35, 0.9);

@define-color nord-bg-0 #2E3440;
@define-color nord-bg-1 #3B4252;
@define-color nord-bg-2 #434C5E;
@define-color nord-bg-3 #4C566A;

@define-color nord-accent-0 #8fbcbb;
@define-color nord-accent-1 #88c0d0;
@define-color nord-accent-2 #81a1c1;
@define-color nord-accent-3 #5e81ac;

@define-color nord-gray #4c566a;
@define-color nord-blue #5e81ac;
@define-color nord-orange #d08770;
@define-color nord-red #bf616a;
@define-color nord-yellow #ebcb8b;
@define-color nord-green #a3be8c;
@define-color nord-purple #b48ead;

* {
	color: @fg;
	font-family: "FiraCode Nerd Font";
	font-size: 14px;
    box-shadow: none;
}

window {
    background: transparent;
    border: none;
}

#outer-box {
	background-color: @nord-gray;
	overflow: hidden;
}

#input {
	background: none;
	border: none;
}

#entry:selected {
	background-color: @nord-blue;
} 

#input image {
	color: @nord-blue;
}

