name: Validate Debian and Ubuntu Setup Scripts

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        distro:
          - ubuntu:24.04
          - debian:13

    container:
      image: ${{ matrix.distro }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install sudo
        run: |
          apt-get update
          apt-get install -y sudo

      - name: Run the setup script
        run: |
          chmod +x ./setup_env.sh
          ./setup_env.sh
